@import "tailwindcss";

@font-face {
  font-family: "Morabba";
  src: url("/assets/fonts/Morabba-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Morabba";
  src: url("/assets/fonts/Morabba-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Morabba";
  src: url("/assets/fonts/Morabba-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Morabba";
  src: url("/assets/fonts/Morabba-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Morabba";
  src: url("/assets/fonts/Morabba-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

:root {
  --background: white;
  --foreground: #1e213b;
  --light-forground: #f4f6fa;
  --blue: #469cf1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Morabba", Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
/* } */

* {
  scrollbar-width: none; /* for Firefox */
  -ms-overflow-style: none; /* for IE and Edge */
}

/* For Chrome, Safari, Opera */
*::-webkit-scrollbar {
  display: none;
}

html,
body {
  background: var(--light-forground);
  width: 100vw;
  height: 100vh;
}
body {
  color: var(--foreground);
  font-family: "Morabba", Arial, Helvetica, sans-serif;
}
